@keyframes fadein {
	from {opacity: 0;}
	to {opacity: 1;}
}
#room-bar .icon-room { 
	background: url(https://i.imgur.com/3EvrL5J.png);
}
#chat [data-cid^="21586780-"] i.bdg, #user-rollover.id-21586780 i.bdg, #chat .id-21586780 i.bdg {
    background: url('https://i.imgur.com/dIMQV3W.png') !important;
    background-size: cover;
}

#chat [data-cid^="17532797-"] i.bdg, #user-rollover.id-21586780 i.bdg, #chat .id-21586780 i.bdg {
    background: url('https://i.imgur.com/dIMQV3W.png') !important;
    background-size: cover;
}








/*--[PLUG]--*/

#user-menu .avatar {
	background: linear-gradient(rgba(0,0,0,0)70%, hsla(140,50%,90%,0.4) 80%),
	linear-gradient(hsl(200,70%,20%), hsl(140,70%,20%)) !important;
	box-shadow: inset 0 0 30px #000;
}
.app-header, #app-menu.in-room, #search, #video-only-dj {
	background: linear-gradient(0deg,#2b2b2be6,#6161617d);
}
#footer{
	background: linear-gradient(0deg,#bdc5ec,hsla(0, 100%, 78%, 0));
}
.app-header {
	box-shadow: 10px 0px 10px #eee;
}
.app-header #history-button {
	background: linear-gradient(hsl(225, 13%, 18%), hsl(225, 13%, 18%));
}
.app-header #header-panel-bar .selected, .app-header #history-button.selected {
	background: linear-gradient(hsl(225, 13%, 18%), hsl(225, 13%, 18%));
}
#footer {
	box-shadow: 0px -1px 10px #000;
}
#footer .chevron:before, #footer .chevron:after {
	background: hsl(200,100%,40%)!important;
}
#footer #your-next-media.in-history {
	color: #ffffff;
}
#footer {
	color: #ffffff;
}
.app-header {
	color: #ffffff;
	}

#playlist-button {
	background: linear-gradient(hsla(227, 64%, 87%, 0.94), hsla(227, 42%, 67%, 0.94));
}
#playlist-import, #playlist-create {
		background: linear-gradient(hsla(227, 64%, 87%, 0.94), hsla(227, 42%, 67%, 0.94));
}
#playlist-import:hover, #playlist-create:hover {
	background: linear-gradient(hsl(205,80%,50%), hsl(205,80%,40%));
}



















/*--[버튼색]--*/
#user-menu, #room-settings-menu, #playlist-menu {
	background: linear-gradient(to right, hsla(210,10%,40%,1), hsla(210,10%,50%,0.1));
}
#user-view, #dashboard, #room-settings, #media-panel, #playlist-panel, #history-panel {
	background: linear-gradient(hsla(210,10%,7%,1), hsla(210,10%,5%,0.5)) !important;
}
#user-menu .item:hover, #room-settings-menu .item:hover {
	background: linear-gradient(#ccd3f5), hsla(302, 100%, 30%, 0.6));
	box-shadow: inset 0 0 10px 1px hsla(0,0%,100%,0.2);
}
#user-menu .item.selected, #room-settings-menu .item.selected {
	background: linear-gradient(#7e93f9, #7e93f9);
	box-shadow: inset 0 0 10px 1px hsla(0,0%,100%,0);
}
#room-settings .general-settings button, #room-settings .general-settings .option.enabled button.off {
	background: linear-gradient(#7e93f9, #7e93f9)!important;
	box-shadow: inset 0 0 2px hsla(0,0%,100%,0.5) !important;
}
#room-settings .general-settings button:hover, #room-settings .general-settings .option.enabled button.off:hover {
	background: linear-gradient(hsl(220,50%,20%), hsl(220,50%,10%)) !important;
	box-shadow: inset 0 0 2px hsla(0,0%,100%,0.5) !important;
}
#room-settings .general-settings button.off, #room-settings .general-settings .option.enabled button.on {
	background: linear-gradient(#7e93f9, #7e93f9)!important;
	box-shadow: inset 0 0 2px hsla(0,0%,100%,0.5) !important;
}
#the-user-profile .notifications.section .row {
	border-radius: 10px;
	background: linear-gradient(#7e93f9, #7e93f9);
}
.tab-menu button, #user-settings .container button, .subscribe-button, .dropdown, #dialog-user-role .role-menu {
	border-radius: 10px;
	background: linear-gradient(#cdd5ff, #cdd5ff);
	box-shadow: inset 0 0 2px hsla(0,0%,100%,0.5) !important;
}
#user-settings .container button:hover {
	background: linear-gradient(hsl(10,80%,30%), hsl(0,80%,20%));
}
.subscribe-button:hover {
	background: linear-gradient(hsl(40,70%,30%), hsl(40,70%,20%));
}
.tab-menu button:hover, .dropdown:hover {
	background: linear-gradient(hsl(220,80%,20%), hsl(220,80%,10%));
}
.tab-menu .selected, .dropdown.open {
	background: linear-gradient(#7e93f9, #7e93f9) !important;
	box-shadow: inset 1px 1px 10px -1px hsla(220,80%,50%,0.5) !important;
}
.dropdown dt {
	border-radius: 10px;
	box-shadow: inset -39px 0 0 hsla(0,0%,100%,0.15) !important;
}
.dropdown.open, .dropdown.open dt, #dialog-user-role .role-menu:hover {
	border-radius: 10px 10px 0 0;
	font-weight: normal;
}
.dropdown dt .level {
	color: #eee !important;
}
.dropdown dd {
	background: transparent;
}
.dropdown dd, #chat-suggestion, #dialog-user-role .role-menu .menu ul li, #search-suggestion li, #dialog-restricted-media .row.selected, {
	background: hsla(210,10%,10%,0.8) !important;
}
#dialog-user-role .role-menu .menu ul li {
	border-color: hsla(210, 32%, 44%, 0.8);
}
.dropdown dd .row:hover,
.chat-suggestion-item[style='background: rgb(45, 49, 58);'],
#search-suggestion .search-suggestion-item.selected,
#dialog-restricted-media .row.selected,
#dialog-user-role .role-menu .menu ul li:hover {
	background: linear-gradient(hsla(210,10%,20%,0.8), hsla(210,10%,15%,0.8)) !important;
}
#user-menu .count, .requests .count, .buttons .count, .request-count, .friends .header i {
	background: radial-gradient(hsl(215, 52%, 33%), hsl(210, 100%, 96%)) !important;
	box-shadow: inset 0 0 10px hsl(200,100%,50%);
	text-shadow: 0 0 3px #000;
}
#user-menu .selected .count, .button:hover .count, #friends-button.selected span, #user-friends .requests.selected span, .friends .header:hover i {
	background: radial-gradient(hsl(210,10%,20%), hsl(0,0%,0%)) !important;
	box-shadow: inset 0 0 1px #000;
	font-weight: bold;
}
.grid .cell {
	border-radius: 30px;
	background: radial-gradient(hsl(220,50%,40%), hsl(220,50%,20%)) !important;
	box-shadow: 0 0 10px #000;
}






/*--[알림]--*/
.notification {
	border-radius: 20px;
	background: rgba(23, 33, 62, 0.7);
}
#toast-notifications .left {
	border-radius: 20px 0 0 20px;
	background: linear-gradient(135deg, rgba(255,255,255,0.4), rgba(0,0,0,0)) !important;
}
#toast-notifications .right {
	border-radius: 0 20px 20px 0;
	background: linear-gradient(rgba(255,255,255,0.2), rgba(0,0,0,0)) !important;
}











/*--[dj-button]--*/
#dj-button {
	border-radius: 25px 5px;
	background: linear-gradient(hsla(329, 100%, 0%, 0.2), hsla(0,20%,90%,0.1));
	box-shadow: 0 0 6px #001;
}
#dj-button:hover {
	background: linear-gradient(hsla(49,0%,30%,0.8), hsla(49,0%,20%,0.8));
}
#dj-button .left {
	border-radius: 25px 5px;
	background: linear-gradient(125deg, hsla(223, 100%, 87%, 1), hsla(253, 100%, 67%, 0.7));
    box-shadow: 0 0 7px #8f70ff;
}
#dj-button:hover .left {
	background: linear-gradient(195deg, hsla(153, 70%, 87%, 1), hsla(153, 100%, 87%, 1));
	box-shadow: 0 0 17px #a8ffd8;
}
#dj-button.is-leave .left, #dj-button.is-quit .left {
	background: linear-gradient(195deg, hsla(28, 100%, 85%, 1), hsla(347, 100%, 65%, 0.7));
	box-shadow: 0 0 16px #ff5274;
}
#dj-button.is-leave:hover .left, #dj-button.is-quit:hover .left {
	background: linear-gradient(195deg, hsla(28, 100%, 85%, 1), hsla(28, 100%, 85%, 1));
	box-shadow: 0 0 16px #ffdec2;
}
#dj-button.is-locked .left, #dj-button.is-full .left {
	background: linear-gradient(135deg, hsla(0,0%,10%,0.6), hsla(0,0%,5%,0.6));
}
#dj-button.is-locked:hover .left, #dj-button.is-full:hover .left {
	background: linear-gradient(135deg, hsla(0,0%,10%,0.9), hsla(0,0%,5%,0.9));
}








/*--[vote]--*/
#vote {
	box-shadow: 0 0 7.5px #000;
	border-radius: 5px 25px;
	width: 254px !important;
}
#app #vote .bottom {
	background: rgba(0, 0, 0, 0);
}
#woot, #grab, #meh {
	margin-top: 0 !important;
}
#vote .selected,
#vote .selected .value {
	font-weight: bold;
	color: #FFF;
}
.pop-menu, .pop-menu .bar {
	border-radius: 5px 25px;
	background: transparent;
}
.pop-menu .bar {
	background: linear-gradient(hsla(260,50%,50%,0.8), hsla(260,50%,30%,0.8));
}
.pop-menu .bar-divider {
	background: linear-gradient(hsla(0,0%,90%,0.8), hsla(0,0%,50%,0.8));
}
.pop-menu .menu ul {
	background: hsla(260,10%,7%,0.8);
}
.pop-menu .menu ul i + span {
	font-weight: bold;
}
.pop-menu .menu ul li:hover {
	background: linear-gradient(hsla(260,50%,50%,0.2), hsla(260,50%,30%,0.2));;
}
.pop-menu .menu ul .create:hover {
	background: linear-gradient(hsl(260,40%,50%), hsl(260,40%,30%));
}
.pop-menu .menu::-webkit-scrollbar {
	background: hsl(260,10%,20%) !important;
	box-shadow: inset 0 0 10px #000;
	width: 10px;
}
.pop-menu .menu::-webkit-scrollbar-thumb {
	background: linear-gradient(to right, hsl(270,40%,60%), hsl(260,40%,40%));
	box-shadow: inset 0 0 5px hsla(0,0%,100%,0.3);
}
#woot {
	border-radius: 5px 0 0 25px;
	background: linear-gradient(130deg, hsla(270,0%,10%,0.3), hsla(5,0%,0%,0)) !important;
	
}
#woot.selected, #woot-rs .title {
	background: linear-gradient(135deg, hsla(90,80%,50%,0.8), hsla(90,80%,30%,0.8)) !important;
	box-shadow: inset 0 0 10px hsl(70,100%,40%) !important;
}
#grab {
	background: linear-gradient(hsla(270,0%,20%,0.2), hsla(5,0%,20%,0.1)) !important;
	
}
#grab.selected, #grab-rs .title {
	background: linear-gradient(hsla(270,70%,50%,0.8), hsla(265,70%,30%,0.8)) !important;
	box-shadow: inset 0 0 10px hsl(280,100%,40%) !important;
}
#meh {
	background: linear-gradient(240deg,hsla(270,0%,20%,0.2), hsla(5,0%,20%,0.1)) !important;
;
	border-radius: 0 25px 0px 0;
	margin-right: 0 !important;
}
#meh.selected, #meh-rs .title {
	background: linear-gradient(225deg, hsla(5,80%,50%,0.8), hsla(0,80%,40%,0.8)) !important;
	box-shadow: inset 0 0 10px hsl(15,100%,50%) !important;
}









#user-rollover .info .badge-box,
#user-rollover .background,
#video-only-dj .background,
#search-suggestion,
#search-suggestion ul {
	background: rgba(0,0,0,0);
}
.thumb.large, .thumb, #user-rollover .meta.online .thumb {
	border-color: hsl(304, 100%, 80%) !important;
	box-shadow: 0 0 7px hsl(325, 69%, 67%) !important;
}
.thumb.large, #user-rollover .meta.online .thumb.large {
	box-shadow: 0 0 15px hsl(80, 41%, 66%) !important;
}
#user-rollover.is-staff .meta.online .thumb, #waitlist .is-staff .thumb {
	border-color: hsl(270,50%,50%) !important;
	box-shadow: 0 0 7px hsl(270,50%,50%) !important;
}
#user-rollover.is-staff .meta.online .thumb.large {
	box-shadow: 0 0 15px hsl(270,50%,50%) !important;
}
#user-rollover .meta.subscriber .thumb, #waitlist .is-subscriber .thumb {
	border-color: hsl(45,80%,45%) !important;
	box-shadow: 0 0 7px hsl(45,80%,45%) !important;
}
#user-rollover .meta.subscriber .thumb.large {
	box-shadow: 0 0 15px hsl(45,80%,45%) !important;
}
#user-rollover .meta.online .status i {
	display: none;
}
#user-rollover .meta.online .status span {
	color: hsl(80,70%,50%);
	margin-left: 0;
}
.offline .thumb {
	border-color: hsl(0,0%,40%) !important;
	box-shadow: none !important;
}
#user-rollover .action {
	background: radial-gradient(hsla(0,0%,7%,0.8), hsla(0,0%,0%,0.8)) !important;
	box-shadow: 0 0 2px 1px #151515 !important;
}
#user-rollover .action:hover {
	background: radial-gradient(hsla(210,100%,30%,0.9), hsla(210,100%,20%,0.9)) !important;
	box-shadow: inset 0 0 50px #000 !important;
}





/*--[playlists]--*/
#media-panel #playlist-activate-button {
	background: linear-gradient(hsl(260,50%,40%), hsl(260,40%,30%));
	box-shadow: inset 0 0 10px 1px hsl(260,50%,45%);
	border-radius: 30px 0 0 30px;
}
#media-panel #playlist-activate-button:hover {
	background: linear-gradient(hsl(260,50%,50%), hsl(260,50%,40%));
	box-shadow: inset 0 0 10px 1px hsl(260,50%,55%);
}
#media-panel #playlist-activate-button.active {
	background: linear-gradient(hsl(200, 100%, 88%), hsl(210, 86%, 31%));
	box-shadow: inset 0 0 10px 1px hsl(210, 100%, 76%);
	color: hsl(220,100%,50%) !important;
}
#playlist-activate-button i, #playlist-menu .row i {
	background-position: -70px -140px;
}
#media-panel #playlist-activate-button.active span,
#dialog-user-role .name {
	color: #eee !important;
}
#media-panel #playlist-activate-button.active:hover {
	cursor: default !important;
}
#media-panel #playlist-edit-button {
	background: linear-gradient(hsl(200, 100%, 88%), hsl(210, 86%, 31%));
	box-shadow: inset 0 0 10px 1px hsl(210, 100%, 76%);
}
#media-panel #playlist-edit-button:hover {
	background: linear-gradient(hsl(200, 100%, 88%), hsl(210, 86%, 31%));
	box-shadow: inset 0 0 10px 1px hsl(210, 100%, 76%);
}
#media-panel #playlist-shuffle-button {
	background: linear-gradient(hsl(200, 100%, 88%), hsl(210, 86%, 31%));
	box-shadow: inset 0 0 10px 1px hsl(210, 100%, 76%);
}
#media-panel #playlist-shuffle-button:hover {
	background: linear-gradient(hsl(200, 100%, 88%), hsl(210, 86%, 31%));
	box-shadow: inset 0 0 10px 1px hsl(210, 100%, 76%);
}
#media-panel #playlist-delete-button {
	border-radius: 0 7px 7px 0;
	background: linear-gradient(hsl(0,80%,50%), hsl(20, 16%, 11%));
	box-shadow: inset 0 0 10px 1px hsl(210, 100%, 76%);
}
#media-panel #playlist-delete-button:hover {
	background: linear-gradient(hsl(0,100%,60%), hsl(20,100%,50%));
	box-shadow: inset 0 0 10px 1px hsla(0,100%,100%,0.5);
}
#playlist-menu .row.selected {
	background: linear-gradient(#bdc5ec, #bdc5ec) !important;
	box-shadow: 0 0 2px 1px hsl(205,100%,50%);
}
#playlist-menu .count {
	color: hsl(205, 49%, 21%) !important;
}
#media-panel .media-list .playlist-media-first-item.selected {
	background: linear-gradient(hsla(0, 0%, 100%, 0.7), hsl(0, 0%, 100%)); !important;
	box-shadow: inset 0 0 2px 1px hsl(0, 0%, 100%);
}
#media-panel .media-list .playlist-media-first-item.now-playing {
	box-shadow: inset 0 0 10px 1px hsl(0, 0%, 0%);
	background: linear-gradient(#7f93f5, #8798ea) !important;
	border-radius: 7px;
	border-bottom: none !important;
}
#media-panel .media-list .playlist-media-item.in-history, #media-panel .media-list .playlist-media-last-item.in-history,  {
	color: hsl(20,80%,55%);
	box-shadow: inset 0 0 1px 1px hsla(30,100%,30%,0.5);
	border-radius: 7px;
}
.playlist-media-item:nth-child(2n+1) {
	color: #AAA;
	background: hsla(0, 0%, 16%, 0.6);
}
#media-panel .media-list .playlist-media-first-item .actions,
#media-panel .media-list .playlist-media-last-item .actions,
.playlist-media-item .actions {
	background: linear-gradient(hsla(0, 0%, 100%, 0.8), hsla(210,100%,10%,0.8)) !important;
	border-radius: 30px 0 0 30px;
}
#media-panel .media-list .playlist-media-first-item .actions .action:hover,
#media-panel .media-list .playlist-media-first-item.now-playing .actions .action:hover,
#media-panel .media-list .playlist-media-last-item .actions .action:hover,
.playlist-media-item .actions .action:hover {
	background: radial-gradient(hsl(0, 0%, 0%), hsl(0, 0%, 0%)) !important;
	box-shadow: 0 0 10px #000;
}
#media-panel .media-list .playlist-media-first-item .actions .action:hover:first-child,
#media-panel .media-list .playlist-media-first-item.now-playing .actions .action:hover:first-child,
#media-panel .media-list .playlist-media-last-item .actions .action:hover:first-child,
.playlist-media-item .actions .action:hover:first-child {
	border-radius: 30px 0 0 30px;
}
#media-panel .media-list .playlist-media-item.selected, #media-panel .media-list .playlist-media-last-item.selected, #media-panel .media-list .playlist-media-item.in-history.selected {
	color: #EEE;
	background: linear-gradient(hsla(205, 100%, 96%, 0.7), hsla(0, 0%, 80%, 0));
	box-shadow: inset 0 0 1px 1px hsl(0, 0%, 100%);
	border-radius: 7px;
}
#media-panel .media-list.playlist-media .meta {
	border: none !important;
}





