#footer {
	background: linear-gradient(to bottom,rgba(217,242,250, 0.2) 0,rgba(217,242,250, 0.2) 100%);
}
#footer-user .info.showing .meta .bar .progress {
	background:#D9F2FA;
}
#footer-user .info.showing .meta .level .label {
	color:#D9F2FA;
}
#footer-user .info.showing .meta .level .value {
	color:#D9F2FA;
}
#footer-user .info.is-staff.showing .name {
	color: #D9F2FA;
}
#footer .shop-button {
	background: linear-gradient(to bottom,rgba(217,242,250, 0.2) 0,rgba(217,242,250, 0.2) 100%);
}
#footer-user .info.showing {
	background: linear-gradient(to bottom,rgba(217,242,250, 0.2) 0,rgba(217,242,250, 0.2) 100%);
}
#chat {
	background: linear-gradient(to bottom,rgba(217,242,250, 0.2) 10%,rgba(217,242,250, 0.2) 100%);
}
#chat .emote:nth-child(2n+1), #chat .mention:nth-child(2n+1), #chat .message:nth-child(2n+1), #chat .moderation:nth-child(2n+1), #chat .skip:nth-child(2n+1), #chat .update:nth-child(2n+1), #chat .welcome:nth-child(2n+1), #chat .user-action:nth-child(2n+1) {
	background: "linear-gradient(to bottom,rgba(217,242,250, 0.2) 10%,rgba(217,242,250, 0.2) 100%);
}
#chat .emote, #chat .mention, #chat .message, #chat .moderation, #chat .skip, #chat .system, #chat .update, #chat .welcome, #chat .user-action {
	background: linear-gradient(to bottom,rgba(217,242,250, 0.2) 10%,rgba(217,242,250, 0.2) 100%);
}
#room .app-right {
	background: linear-gradient(to left,rgba(217,242,250, 0.2) 10%,rgba(217,242,250, 0.2) 100%);
}
.welcome .text {
	color:#D9F2FA;
}
.group.host {
	color:#D9F2FA;
}
i.icon.icon-chat-host {
	background : url(https://dl.dropboxusercontent.com/s/t70qvqutc7043rd/SM-Host.png?dl=0);
}
.group.manager {
	color:#D9F2FA;
}
i.icon.icon-chat-manager {
	background : url(https://dl.dropboxusercontent.com/s/w0b2u64yi1sa6xq/SM-Manager.png?dl=0);
}
.group.bouncer {
	color:#D9F2FA;
}
i.icon.icon-chat-bouncer {
	background : url(https://dl.dropboxusercontent.com/s/cr6oqo3gkzluej7/SM-Bouncer.png?dl=0);
}
.group.dj {
	color:#D9F2FA;
}
i.icon.icon-chat-dj {
	background : url(https://dl.dropboxusercontent.com/s/u6io4evqkij2gth/SM-Resdj.png?dl=0);
}
#user-rollover .info .level .label {
	color:#D9F2FA;
}
#user-rollover.is-staff .info .role span {
	color: #D9F2FA;
}
#vote {
	opacity: 0.90;
}
#woot { 
	border-radius: 100px 0 0 100px ;
}
#woot .bottom { 
	border-radius: 0 0 0 100px;
}
#woot.selected, #woot .bottom, #woot.crowd-response.disabled.active .bottom {
	background: linear-gradient(to top,#6FE514,rgba(217,242,250, 0.2) 100%);
}
#meh { 
	border-radius: 0 100px 100px 0;
}
#meh .bottom { 
	border-radius: 0 0 100px 0;
}
#meh.selected, #meh .bottom, #meh.crowd-response.disabled.active .bottom {
	background: linear-gradient(to top,#EA2A2A,rgba(217,242,250, 0.2) 100%);
}
#grab.selected, #grab .bottom, #grab.crowd-response.disabled.active .bottom {
	background: linear-gradient(to top,#AA74FE,rgba(217,242,250, 0.2) 100%);
}
#dj-button.is-wait, #dj-button.is-leave, #dj-button.is-quit, #dj-button.is-locked, #dj-button.is-full {
	opacity: 0.85;
}
#dj-button, #dj-button.is-leave { 
	border-radius: 100px 100px 100px 100px;
	background: linear-gradient(to top,#3A3A3A,rgba(217,242,250, 0.2) 100%);
}
#dj-button .left {
	border-radius: 100px 100px 100px 100px;
	background: linear-gradient(to top,#14C0F3,rgba(217,242,250, 0.2) 100%);
}
#dj-button.is-leave .left {
	background: linear-gradient(to top,#F3653D,rgba(217,242,250, 0.2) 100%);
}
.torch {
	visibility: hidden;
}
#room-bar .icon-room { 
	background: url(https://i.imgur.com/3EvrL5J.png);
}
#chat [data-cid^="21586780-"] i.bdg, #user-rollover.id-21586780 i.bdg, #chat .id-21586780 i.bdg {
    background: url('http://i.imgur.com/HItyCRR.jpg') !important;
    background-size: cover;
}
#media-panel #playlist-activate-button {
	background: linear-gradient(hsl(260,50%,40%), hsl(260,40%,30%));
	box-shadow: inset 0 0 10px 1px hsl(260,50%,45%);
	border-radius: 30px 0 0 30px;
}
#media-panel #playlist-activate-button:hover {
	background: linear-gradient(hsl(260,50%,50%), hsl(260,50%,40%));
	box-shadow: inset 0 0 10px 1px hsl(260,50%,55%);
}
#media-panel #playlist-activate-button.active {
	background: linear-gradient(hsl(200,100%,30%), hsl(210,100%,20%));
	box-shadow: inset 0 0 10px 1px hsl(210,80%,30%);
	color: hsl(220,100%,50%) !important;
}
#playlist-activate-button i, #playlist-menu .row i {
	background-position: -70px -140px;
}
#media-panel #playlist-activate-button.active span,
#dialog-user-role .name {
	color: #eee !important;
}
#media-panel #playlist-activate-button.active:hover {
	cursor: default !important;
}
#media-panel #playlist-edit-button {
	background: linear-gradient(hsl(200,80%,50%), hsl(170,80%,30%));
	box-shadow: inset 0 0 10px 1px hsl(200,50%,55%);
}
#media-panel #playlist-edit-button:hover {
	background: linear-gradient(hsl(200,100%,50%), hsl(170,100%,30%));
	box-shadow: inset 0 0 10px 1px hsla(0,0%,100%,0.3);
}
#media-panel #playlist-shuffle-button {
	background: linear-gradient(hsl(140,80%,40%), hsl(120,80%,30%));
	box-shadow: inset 0 0 10px 1px hsla(0,0%,100%,0.5);
}
#media-panel #playlist-shuffle-button:hover {
	background: linear-gradient(hsl(140,100%,50%), hsl(120,100%,30%));
	box-shadow: inset 0 0 10px 1px hsl(130,50%,55%);
}
#media-panel #playlist-delete-button {
	border-radius: 0 7px 7px 0;
	background: linear-gradient(hsl(0,80%,50%), hsl(20,80%,30%));
	box-shadow: inset 0 0 10px 1px hsl(0,50%,55%);
}
#media-panel #playlist-delete-button:hover {
	background: linear-gradient(hsl(0,100%,60%), hsl(20,100%,50%));
	box-shadow: inset 0 0 10px 1px hsla(0,100%,100%,0.5);
}
#playlist-menu .row.selected {
	background: linear-gradient(to right, hsl(220,100%,30%), hsl(220,100%,40%)) !important;
	box-shadow: 0 0 2px 1px hsl(205,100%,50%);
}
#playlist-menu .count {
	color: hsl(205,100%,60%) !important;
}
#media-panel .media-list .playlist-media-first-item.selected {
	background: linear-gradient(to right, hsl(220,100%,30%), hsl(220,100%,40%)) !important;
	box-shadow: inset 0 0 2px 1px hsl(205,100%,50%);
	border-radius: 7px;
}
#media-panel .media-list .playlist-media-first-item.now-playing {
	box-shadow: inset 0 0 10px 1px hsl(200,100%,30%);
	background: linear-gradient(hsl(200,100%,40%), hsl(200,100%,30%)) !important;
	border-radius: 7px;
	border-bottom: none !important;
}
#media-panel .media-list .playlist-media-item.in-history, #media-panel .media-list .playlist-media-last-item.in-history,  {
	color: hsl(20,80%,55%);
	box-shadow: inset 0 0 1px 1px hsla(30,100%,30%,0.5);
	border-radius: 7px;
}
.playlist-media-item:nth-child(2n+1) {
	color: #AAA;
	background: hsla(219,15%,15%,0.6);
}
#media-panel .media-list .playlist-media-first-item .actions,
#media-panel .media-list .playlist-media-last-item .actions,
.playlist-media-item .actions {
	background: linear-gradient(hsla(210,100%,20%,0.8), hsla(210,100%,10%,0.8)) !important;
	border-radius: 30px 0 0 30px;
}
#media-panel .media-list .playlist-media-first-item .actions .action:hover,
#media-panel .media-list .playlist-media-first-item.now-playing .actions .action:hover,
#media-panel .media-list .playlist-media-last-item .actions .action:hover,
.playlist-media-item .actions .action:hover {
	background: radial-gradient(hsl(210,100%,50%), hsl(210,100%,20%)) !important;
	box-shadow: 0 0 10px #000;
}
#media-panel .media-list .playlist-media-first-item .actions .action:hover:first-child,
#media-panel .media-list .playlist-media-first-item.now-playing .actions .action:hover:first-child,
#media-panel .media-list .playlist-media-last-item .actions .action:hover:first-child,
.playlist-media-item .actions .action:hover:first-child {
	border-radius: 30px 0 0 30px;
}
#media-panel .media-list .playlist-media-item.selected, #media-panel .media-list .playlist-media-last-item.selected, #media-panel .media-list .playlist-media-item.in-history.selected {
	color: #EEE;
	background: linear-gradient(hsl(220,100%,20%), hsl(220,100%,10%));
	box-shadow: inset 0 0 1px 1px hsl(205,100%,30%);
	border-radius: 7px;
}
#media-panel .media-list.playlist-media .meta {
	border: none !important;
}
/*########## [chat] ##########*/
#chat-header {
	background: rgba(30,35,40,0.7);
	border: none !important;
}
#chat-messages {
	border-color: #555;
	box-shadow: 0 51px 0 rgba(30,35,40,0.7);
}
#chat-messages::-webkit-scrollbar,
.dropdown dd::-webkit-scrollbar,
#woot-rs-list::-webkit-scrollbar,
#grab-rs-list::-webkit-scrollbar,
#meh-rs-list::-webkit-scrollbar,
.dialog::-webkit-scrollbar {
	width: 7px !important;
	box-shadow: inset -1px 0 7px hsla(0,0%,0%,0.7);
}
#chat-messages::-webkit-scrollbar-thumb,
.dropdown dd::-webkit-scrollbar-thumb,
#woot-rs-list::-webkit-scrollbar-thumb,
#grab-rs-list::-webkit-scrollbar-thumb,
#meh-rs-list::-webkit-scrollbar-thumb,
.dialog::-webkit-thumb,
.jspDrag {
	background: linear-gradient(to right, hsl(210,10%,50%), hsl(210,10%,20%));
	box-shadow: inset 1px 0 7px hsla(0,0%,100%,0.5);
	border-radius: 5px;
}
.jspTrack { box-shadow: inset -1px 0 10px hsla(0,0%,20%,1); }
.app-right #chat-input,
#dashboard .search,
#search-bar,
#filter-bar,
#user-friends .search,
.app-right .friends .list-header .input-background {
	border-radius: 20px;
	background: linear-gradient(to top, hsla(220,100%,15%,0.7), hsla(220,100%,10%,0.7));
}
.focused {
	color: #EEE !important;
	box-shadow: inset 0 0 0 1px #05F !important;
	background: linear-gradient(to top, hsl(220,100%,30%), hsl(220,100%,20%)) !important;
}
#chat-input-field {
	color: #888 !important;
	font-weight: bold;
}
#chat-input.focused #chat-input-field{
	color: #EEE !important;
}
