
#room-bar .icon-room { 
	background: url(https://i.imgur.com/3EvrL5J.png);
}
#chat [data-cid^="21586780-"] i.bdg, #user-rollover.id-21586780 i.bdg, #chat .id-21586780 i.bdg {
    background: url('http://i.imgur.com/HItyCRR.jpg') !important;
    background-size: cover;
}
#user-menu, #room-settings-menu, #playlist-menu {
	background: linear-gradient(to right, hsla(210,10%,40%,0), hsla(210,10%,50%,0.2));
}
#user-view, #dashboard, #room-settings, #media-panel, #playlist-panel, #history-panel {
	background: linear-gradient(hsla(210,10%,7%,0.9), hsla(210,10%,5%,0.9)) !important;
}
#user-menu .item:hover, #room-settings-menu .item:hover {
	background: linear-gradient(hsla(205,100%,40%,0.6), hsla(205,100%,30%,0.6));
	box-shadow: inset 0 0 10px 1px hsla(0,0%,100%,0.2);
}
#user-menu .item.selected, #room-settings-menu .item.selected {
	background: linear-gradient(hsl(205,100%,40%), hsl(205,100%,30%));
	box-shadow: inset 0 0 10px 1px hsla(0,0%,100%,0.4);
}
#room-settings .general-settings button, #room-settings .general-settings .option.enabled button.off {
	background: linear-gradient(hsl(220,5%,20%), hsl(220,5%,10%)) !important;
	box-shadow: inset 0 0 2px hsla(0,0%,100%,0.5) !important;
}
#room-settings .general-settings button:hover, #room-settings .general-settings .option.enabled button.off:hover {
	background: linear-gradient(hsl(220,50%,20%), hsl(220,50%,10%)) !important;
	box-shadow: inset 0 0 2px hsla(0,0%,100%,0.5) !important;
}
#room-settings .general-settings button.off, #room-settings .general-settings .option.enabled button.on {
	background: linear-gradient(hsl(220,50%,40%), hsl(220,50%,30%)) !important;
	box-shadow: inset 0 0 2px hsla(0,0%,100%,0.5) !important;
}
#the-user-profile .notifications.section .row {
	border-radius: 10px;
	background: linear-gradient(hsl(210,100%,20%), hsl(210,100%,10%));
}
.tab-menu button, #user-settings .container button, .subscribe-button, .dropdown, #dialog-user-role .role-menu {
	border-radius: 10px;
	background: linear-gradient(hsl(220,5%,20%), hsl(220,5%,10%));
	box-shadow: inset 0 0 2px hsla(0,0%,100%,0.5) !important;
}
#user-settings .container button:hover {
	background: linear-gradient(hsl(10,80%,30%), hsl(0,80%,20%));
}
.subscribe-button:hover {
	background: linear-gradient(hsl(40,70%,30%), hsl(40,70%,20%));
}
.tab-menu button:hover, .dropdown:hover {
	background: linear-gradient(hsl(220,80%,20%), hsl(220,80%,10%));
}
.tab-menu .selected, .dropdown.open {
	background: linear-gradient(hsl(210,80%,40%), hsl(210,80%,30%)) !important;
	box-shadow: inset 1px 1px 10px -1px hsla(220,80%,50%,0.5) !important;
}
.dropdown dt {
	border-radius: 10px;
	box-shadow: inset -39px 0 0 hsla(0,0%,100%,0.15) !important;
}
.dropdown.open, .dropdown.open dt, #dialog-user-role .role-menu:hover {
	border-radius: 10px 10px 0 0;
	font-weight: normal;
}
.dropdown dt .level {
	color: #eee !important;
}
.dropdown dd {
	background: transparent;
}
.dropdown dd, #chat-suggestion, #dialog-user-role .role-menu .menu ul li, #search-suggestion li, #dialog-restricted-media .row.selected, {
	background: hsla(210,10%,10%,0.8) !important;
}
#dialog-user-role .role-menu .menu ul li {
	border-color: hsla(210,10%,8%,0.8);
}
.dropdown dd .row:hover,
.chat-suggestion-item[style='background: rgb(45, 49, 58);'],
#search-suggestion .search-suggestion-item.selected,
#dialog-restricted-media .row.selected,
#dialog-user-role .role-menu .menu ul li:hover {
	background: linear-gradient(hsla(210,10%,20%,0.8), hsla(210,10%,15%,0.8)) !important;
}
#user-menu .count, .requests .count, .buttons .count, .request-count, .friends .header i {
	background: radial-gradient(hsl(215,100%,50%), hsl(210,100%,30%)) !important;
	box-shadow: inset 0 0 10px hsl(200,100%,50%);
	text-shadow: 0 0 3px #000;
}
#user-menu .selected .count, .button:hover .count, #friends-button.selected span, #user-friends .requests.selected span, .friends .header:hover i {
	background: radial-gradient(hsl(210,10%,20%), hsl(0,0%,0%)) !important;
	box-shadow: inset 0 0 1px #000;
	font-weight: bold;
}
.grid .cell {
	border-radius: 30px;
	background: radial-gradient(hsl(220,50%,40%), hsl(220,50%,20%)) !important;
	box-shadow: 0 0 10px #000;
}
.grid .cell .bar, .grid .cell .meta, #user-friends .row {
	background: linear-gradient(hsl(210,10%,15%), hsl(210,10%,10%)) !important;
}
.grid .cell .meta .host {
	text-align: center;
	top: 6px;
	color: #eee !important;
}
.grid .cell .meta .join {
	background: hsl(220,50%,20%) !important;
	border: 1px solid hsl(220,50%,30%) !important;
	box-shadow: 0 0 3px #000;
	border-radius: 30px;
}
.grid .cell .bar .favorite.selected {
	background: linear-gradient(hsl(220,70%,50%), hsl(220,70%,40%)) !important;
}
.grid .cell .bar .favorite.selected .icon-grab {
	background-position: -35px -280px;
}
#user-friends .row {
	border-radius: 20px;
	box-shadow: 0 0 10px #000;
}
#user-friends .row .positive {
	border-radius: 0 20px;
	background: linear-gradient(hsla(210,100%,50%,0.3), hsla(210,100%,40%,0.3)) !important;
}
#user-friends .row .positive:hover {
	background: linear-gradient(hsla(210,100%,50%,0.8), hsla(210,100%,40%,0.8)) !important;
}
#user-friends .row .negative {
	border-radius: 20px 0px;
	background: linear-gradient(hsla(20,90%,50%,0.3), hsla(20,90%,40%,0.3)) !important;
}
#user-friends .row .negative:hover {
	background: linear-gradient(hsla(20,90%,50%,0.8), hsla(20,90%,40%,0.8)) !important;
}
.user-content .avatars .grid .cell, .user-content .avatars .grid .cell .top {
	border-radius: 30px;
}
.user-content .avatars .grid .cell .top {
	background: linear-gradient(rgba(0,0,0,0)70%, hsla(210,10%,80%,0.2) 80%),
	url(http://i.imgur.com/Rvawj99.png);
	box-shadow: inset 0 0 40px #000;
}
.user-content .avatars .cell:hover .top, .user-content .avatars .cell.selected .top {
	background: linear-gradient(rgba(0,0,0,0)70%, hsla(0,0%,100%,0.2) 80%),
	url(http://i.imgur.com/X3dKn08.png) !important;
}
.user-content .badges .cell {
	background: radial-gradient(hsl(210,10%,10%), hsl(210,10%,5%)) !important;
	box-shadow: inset 0 0 30px #000;
}
.user-content .badges .cell:hover {
	background: url("https://cdn.plug.dj/_/static/images/badgebghover.51d0ef82889130d4adaaaf067133dbb3fe025a1c.png") 0 -12px no-repeat !important;
	box-shadow: 0 0 10px #000;
}
#user-store .badges .cell:hover {
	background: radial-gradient(hsl(220,50%,40%), hsl(220,50%,20%)) !important;
}
.user-content .badges .cell.selected {
	background: url(https://cdn.plug.dj/_/static/images/badgebg.11c3e716ad95c5345d292b113a4d223bb2b70e80.png) !important;
	box-shadow: inset 0 0 20px 2px hsla(0,0%,100%,0.2) !important;
}
.grid .cell .top .expires, .grid .cell .top .prices, #the-user-profile .badge-box, #media-panel  {
	background: transparent !important;
}
.grid .cell .top .expires span {
	color: hsl(30,100%,50%) !important;
}
#the-user-profile .meta {
	background: hsla(200,100%,90%,0.05) !important;
	box-shadow: 0 0 0px 15px hsla(200,100%,90%,0.05);
}
#the-user-profile .experience.section .header {
	box-shadow: none !important;
}
#the-user-profile .blurb .box {
	background: linear-gradient(135deg, hsl(210,100%,25%), hsl(200,100%,25%));
	box-shadow: inset 0 0 5px 1px hsla(0,0%,100%,0.4);
}
#the-user-profile .blurb .arrow-up {
	border-bottom: 6px solid hsl(210,100%,25%);
}
#the-user-profile .experience .bar, #footer-user .info .meta .bar {
	border-radius: 20px;
	background: radial-gradient(hsl(210,10%,15%), hsl(210,10%,20%)) !important;
}
#the-user-profile .experience .bar .progress, #footer-user .info .meta .bar .progress {
	border-radius: 20px;
	background: radial-gradient(at top left, hsla(0,0%,50%,0), hsla(0,0%,100%,0.2)), linear-gradient(hsl(205,100%,60%), hsl(205,100%,50%));
	box-shadow: 0 0 30px hsl(205,100%,50%);
}
#the-user-profile .experience .bar .value, #footer-user .info .meta .bar .value {
	text-shadow: 0 0 3px black;
}
/*--[toast-notifications]--*/
.notification {
	border-radius: 20px;
	background: rgba(50,100,255,0.7);
}
#toast-notifications .left {
	border-radius: 20px 0 0 20px;
	background: linear-gradient(135deg, rgba(255,255,255,0.4), rgba(0,0,0,0)) !important;
}
#toast-notifications .right {
	border-radius: 0 20px 20px 0;
	background: linear-gradient(rgba(255,255,255,0.2), rgba(0,0,0,0)) !important;
}
/*--[dj-button]--*/
#dj-button {
	border-radius: 50px;
	background: linear-gradient(hsla(210,10%,50%,0.3), hsla(210,10%,40%,0.3));
	box-shadow: 0 0 10px #000;
}
#dj-button:hover {
	background: linear-gradient(hsla(210,10%,50%,0.5), hsla(210,10%,40%,0.5));
}
#dj-button .left {
	border-radius: 50px 0 0 50px;
	background: linear-gradient(135deg, hsla(210,80%,60%,0.6), hsla(210,80%,50%,0.6));
	box-shadow: 0 0 10px #000;
}
#dj-button:hover .left {
	background: linear-gradient(135deg, hsla(210,80%,60%,0.9), hsla(210,80%,50%,0.9));
}
#dj-button.is-leave .left, #dj-button.is-quit .left {
	background: linear-gradient(135deg, hsla(15,80%,60%,0.6), hsla(15,80%,50%,0.6));
}
#dj-button.is-leave:hover .left, #dj-button.is-quit:hover .left {
	background: linear-gradient(135deg, hsla(15,80%,60%,0.9), hsla(15,80%,50%,0.9));
}
#dj-button.is-locked .left, #dj-button.is-full .left {
	background: linear-gradient(135deg, hsla(0,0%,10%,0.6), hsla(0,0%,5%,0.6));
}
#dj-button.is-locked:hover .left, #dj-button.is-full:hover .left {
	background: linear-gradient(135deg, hsla(0,0%,10%,0.9), hsla(0,0%,5%,0.9));
}
